In [7]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM Facilities
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [2]:
import sqlite3
from sqlite3 import Error

def create_connection(db_file):
    """ create a database connection to the SQLite database specified by the db_file """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    return conn

def select_facilities_with_low_revenue(conn):
    """
    Query facilities with total revenue less than 1000, sorted by revenue
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()

    query = """
        SELECT f.name, SUM(
            CASE 
                WHEN b.memid = 0 THEN b.slots * f.guestcost
                ELSE b.slots * f.membercost
            END
        ) AS total_revenue
        FROM Facilities f
        LEFT JOIN Bookings b ON f.facid = b.facid
        GROUP BY f.name
        HAVING total_revenue < 1000
        ORDER BY total_revenue
    """

    cur.execute(query)

    rows = cur.fetchall()

    for row in rows:
        print(f"Facility: {row[0]}, Total Revenue: {row[1]}")

def main():
    database = "sqlite_db_pythonsqlite.db"

    # create a database connection
    conn = create_connection(database)
    with conn:
        print("Facilities with total revenue less than 1000:")
        select_facilities_with_low_revenue(conn)

if __name__ == '__main__':
    main()

2.6.0
Facilities with total revenue less than 1000:
Facility: Table Tennis, Total Revenue: 180
Facility: Snooker Table, Total Revenue: 240
Facility: Pool Table, Total Revenue: 270

In [11]:
import sqlite3
from sqlite3 import Error

def create_connection(db_file):
    """ create a database connection to the SQLite database specified by the db_file """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    return conn

def select_members_with_recommendations(conn):
    """
    Query members and who recommended them in alphabetic surname, firstname order
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()

    query = """
        SELECT m1.surname || ', ' || m1.firstname AS member_name,
               m2.surname || ', ' || m2.firstname AS recommended_by
        FROM Members m1
        LEFT JOIN Members m2 ON m1.recommendedby = m2.memid
        ORDER BY m1.surname, m1.firstname
    """

    cur.execute(query)

    rows = cur.fetchall()

    for row in rows:
        member_name = row[0]
        recommended_by = row[1] if row[1] else "No recommendation"
        print(f"Member: {member_name}, \nRecommended by: {recommended_by}\n")

def main():
    database = "sqlite_db_pythonsqlite.db"

    # create a database connection
    conn = create_connection(database)
    with conn:
        print("Members and who recommended them:\n")
        select_members_with_recommendations(conn)

if __name__ == '__main__':
    main()

2.6.0
Members and who recommended them:

Member: Bader, Florence,
Recommended by: Stibbons, Ponder

Member: Baker, Anne,
Recommended by: Stibbons, Ponder

Member: Baker, Timothy,
Recommended by: Farrell, Jemima

Member: Boothe, Tim,
Recommended by: Rownam, Tim

Member: Butters, Gerald,
Recommended by: Smith, Darren

Member: Coplin, Joan,
Recommended by: Baker, Timothy

Member: Crumpet, Erica,
Recommended by: Smith, Tracy

Member: Dare, Nancy,
Recommended by: Joplette, Janice

Member: Farrell, David,
Recommended by: No recommendation

Member: Farrell, Jemima,
Recommended by: No recommendation

Member: GUEST, GUEST,
Recommended by: No recommendation

Member: Genting, Matthew,
Recommended by: Butters, Gerald

Member: Hunt, John,
Recommended by: Purview, Millicent

Member: Jones, David,
Recommended by: Joplette, Janice

Member: Jones, Douglas,
Recommended by: Jones, David

Member: Joplette, Janice,
Recommended by: Smith, Darren

Member: Mackenzie, Anna,
Recommended by: Smith, Darren

Member: Owen, Charles,
Recommended by: Smith, Darren

Member: Pinker, David,
Recommended by: Farrell, Jemima

Member: Purview, Millicent,
Recommended by: Smith, Tracy

Member: Rownam, Tim,
Recommended by: No recommendation

Member: Rumney, Henrietta,
Recommended by: Genting, Matthew

Member: Sarwin, Ramnaresh,
Recommended by: Bader, Florence

Member: Smith, Darren,
Recommended by: No recommendation

Member: Smith, Darren,
Recommended by: No recommendation

Member: Smith, Jack,
Recommended by: Smith, Darren

Member: Smith, Tracy,
Recommended by: No recommendation

Member: Stibbons, Ponder,
Recommended by: Tracy, Burton

Member: Tracy, Burton,
Recommended by: No recommendation

Member: Tupperware, Hyacinth,
Recommended by: No recommendation

Member: Worthington-Smyth, Henry,
Recommended by: Smith, Tracy

In [15]:
import sqlite3
from sqlite3 import Error

def create_connection(db_file):
    """ create a database connection to the SQLite database specified by the db_file """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    return conn

def select_facilities_usage_by_members(conn):
    """
    Query facilities with their usage by members, excluding guests
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()

    query = """
        SELECT f.name AS facility_name, SUM(b.slots) AS total_usage
        FROM Facilities f
        JOIN Bookings b ON f.facid = b.facid
        WHERE b.memid != 0
        GROUP BY f.name
        ORDER BY total_usage DESC
    """

    cur.execute(query)

    rows = cur.fetchall()

    for row in rows:
        facility_name = row[0]
        total_usage = row[1]
        print(f"Facility: {facility_name}, Total Usage by Members: {total_usage}")

def main():
    database = "sqlite_db_pythonsqlite.db"

    # create a database connection
    conn = create_connection(database)
    with conn:
        print("Facilities usage by members (excluding guests):\n")
        select_facilities_usage_by_members(conn)

if __name__ == '__main__':
    main()

2.6.0
Facilities usage by members (excluding guests):

Facility: Badminton Court, Total Usage by Members: 1086
Facility: Tennis Court 1, Total Usage by Members: 957
Facility: Massage Room 1, Total Usage by Members: 884
Facility: Tennis Court 2, Total Usage by Members: 882
Facility: Snooker Table, Total Usage by Members: 860
Facility: Pool Table, Total Usage by Members: 856
Facility: Table Tennis, Total Usage by Members: 794
Facility: Squash Court, Total Usage by Members: 418
Facility: Massage Room 2, Total Usage by Members: 54

In [21]:
import sqlite3
from sqlite3 import Error

def create_connection(db_file):
    """ create a database connection to the SQLite database specified by the db_file """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    return conn

def select_facilities_usage_by_month(conn):
    """
    Query facilities usage by month, excluding guests
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()

    query = """
        SELECT f.name AS facility_name, 
               strftime('%Y-%m', b.starttime) AS month, 
               SUM(b.slots) AS total_usage
        FROM Facilities f
        JOIN Bookings b ON f.facid = b.facid
        WHERE b.memid != 0  -- Exclude guests
        GROUP BY f.name, month
        ORDER BY f.name, month
    """

    cur.execute(query)

    rows = cur.fetchall()

    for row in rows:
        facility_name = row[0]
        month = row[1]
        total_usage = row[2]
        print(f"Facility: {facility_name}, Month: {month}, Total Usage by Members: {total_usage}\n")

def main():
    database = "sqlite_db_pythonsqlite.db"

    # create a database connection
    conn = create_connection(database)
    with conn:
        print("Facilities usage by month (excluding guests):\n")
        select_facilities_usage_by_month(conn)

if __name__ == '__main__':
    main()

2.6.0
Facilities usage by month (excluding guests):

Facility: Badminton Court, Month: 2012-07, Total Usage by Members: 165

Facility: Badminton Court, Month: 2012-08, Total Usage by Members: 414

Facility: Badminton Court, Month: 2012-09, Total Usage by Members: 507

Facility: Massage Room 1, Month: 2012-07, Total Usage by Members: 166

Facility: Massage Room 1, Month: 2012-08, Total Usage by Members: 316

Facility: Massage Room 1, Month: 2012-09, Total Usage by Members: 402

Facility: Massage Room 2, Month: 2012-07, Total Usage by Members: 8

Facility: Massage Room 2, Month: 2012-08, Total Usage by Members: 18

Facility: Massage Room 2, Month: 2012-09, Total Usage by Members: 28

Facility: Pool Table, Month: 2012-07, Total Usage by Members: 110

Facility: Pool Table, Month: 2012-08, Total Usage by Members: 303

Facility: Pool Table, Month: 2012-09, Total Usage by Members: 443

Facility: Snooker Table, Month: 2012-07, Total Usage by Members: 140

Facility: Snooker Table, Month: 2012-08, Total Usage by Members: 316

Facility: Snooker Table, Month: 2012-09, Total Usage by Members: 404

Facility: Squash Court, Month: 2012-07, Total Usage by Members: 50

Facility: Squash Court, Month: 2012-08, Total Usage by Members: 184

Facility: Squash Court, Month: 2012-09, Total Usage by Members: 184

Facility: Table Tennis, Month: 2012-07, Total Usage by Members: 98

Facility: Table Tennis, Month: 2012-08, Total Usage by Members: 296

Facility: Table Tennis, Month: 2012-09, Total Usage by Members: 400

Facility: Tennis Court 1, Month: 2012-07, Total Usage by Members: 201

Facility: Tennis Court 1, Month: 2012-08, Total Usage by Members: 339

Facility: Tennis Court 1, Month: 2012-09, Total Usage by Members: 417

Facility: Tennis Court 2, Month: 2012-07, Total Usage by Members: 123

Facility: Tennis Court 2, Month: 2012-08, Total Usage by Members: 345

Facility: Tennis Court 2, Month: 2012-09, Total Usage by Members: 414